--select * from olapts.businessportolio_lookup
drop table if exists olapts.businessportolio_lookup;
CREATE TABLE olapts.businessportolio_lookup(
	key_ character varying ,
	value_ character varying 
);

