--select * from olapts.Credit_Committee_Lookup
drop table if exists olapts.Credit_Committee_Lookup;
CREATE TABLE olapts.Credit_Committee_Lookup(
	Key_ character varying ,
	Datamart_value character varying 
);

